/*상단 이미지*/
.imgTitle {
    width: 100%;
    height: auto;
}
img {
    width: 100%;
    height: 100%;
}
/*리스트 전체영역 위치조정*/
article {
    margin-top: 60px;
    padding: 30px 0;
    border-top: 1px solid #000;
}
/*리스트 항목들*/
figure {
    float: left;
    /*마진만큼 빼고 한줄에 놓을 리스트 수만큼 나누기*/
    width: calc((100% - 90px) / 4);
    height: auto;
    background-color: black;
    margin: 0 0 30px 30px;
    border: 2px solid #eee;
    box-sizing: border-box;
}
/*clear fix*/
.programList::after {
    content: "";
    display: block;
    clear: left;
}
/*줄에 첫번째 리스트만 왼쪽마진 없애기*/
figure:nth-child(4n+1) {
    margin-left: 0;
}
/*리스트 이미지 밑에 텍스트 영역*/
figcaption {
    padding: 30px 20px;
    height: 340px;
    background-color: #fff;
    overflow: hidden;
}
/*텍스트*/
.text {
    overflow: hidden;
    /*잘리는 글 글줄임*/
    text-overflow: ellipsis;
    /*2번째 줄까지 표시하고, 2번째 줄 글줄임*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical;
}

/* 프로그램 case 분류별 설정 */
/* pCase01(궁궐 환경가꾸기) */
.pCase01 {
    display: inline-block;
    background-color: #ff6e6e;
    color: #fff;
    padding: 0 3px;
}
/* pCase02(아름지기 아카데미) */
.pCase02 {
    display: inline-block;
    background-color: #ffc314;
    color: #fff;
    padding: 0 3px;
}
/* pCase03(기획전시) */
.pCase03 {
    display: inline-block;
    background-color: #ff9d6e;
    color: #fff;
    padding: 0 3px;
}
/* pCase04(바자) */
.pCase04 {
    display: inline-block;
    background-color: #8b6331;
    color: #fff;
    padding: 0 3px;
}

/* dl 영역 */
dl {
    width: 100%;
    padding-top: 15px;
    font-size: 15px;
    line-height: 1;
}
dt { 
    display: inline-block;
    width: 60px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #4e4e4e;
    vertical-align: top;
}
dd { 
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    overflow: hidden;
    /*글줄임*/
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #8e8e8e;
}
/*반응형 ~1024px*/
@media screen and (max-width:1024px){
    /*리스트 항목 조정*/
    .programList figure {
        /*마진만큼 빼고 한줄에 놓을 리스트 수만큼 나누기('-'할때 좌우 띄어쓰기 필수!)*/
        width: calc((100% - 10px)/2);
        margin: 0 0 20px 10px;
        font-size: 0.7rem;
    }
    /*왼쪽 리스트 왼쪽 마진 없애기*/
    .programList figure:nth-child(2n-1) {
        margin-left: 0;
    }
    /*상세정보 글씨크기*/
    .programList dl {
        font-size: 0.7rem;
    }
}